extends ../layout

block content
  link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Bree+Serif|Open+Sans:400,700')
  link(rel='stylesheet', href='../../static/stylesheets/style.css')
  title #{book.title}
  h1 #{book.title}
  form
    p
      label(for='title') Title
      input#title(name=title type='text' value=`${book.title}` disabled="true")
    p
      label(for='author') Author
      input#author(name='author' type='text' value=`${book.author}` disabled="true")
    p
      label(for='genre') Genre
      input#genre(name='genre' type='text' value=`${book.genre}` disabled="true")
    p
      label(for='year') Year
      input#year(name='year' type='text' value=`${book.year}` disabled="true")
    p
      a.button(href=`${book.id}/edit`)#edit Edit
    p
      a.button(href='./')#back Go Back
