extends ../layout

block content
  link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Bree+Serif|Open+Sans:400,700')
  link(rel='stylesheet', href='/static/stylesheets/style.css')
  title Books
  include search
  h1 Books
  p
    a(href="/books/new", class="button") Create New Book
  table
    thead
      tr
        th Title
        th Author
        th Genre
        th Year
    tbody
    each book in books
      tr
        td
          a(href=`/books/${book.id}`) #{book.title}
        td #{book.author}
        td #{book.genre}
        td #{book.year}
  if(pages)
    include paginate
      
